<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<button>Toggle Average Total Price column</button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Signup date</th>
      <th class="toggle-me">Average total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= I18n.l(employee.signup_date, format: :nice) %></td>
        <td class="toggle-me"><%= number_to_currency(average_total_price(employee)) %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
